--realm={{ realm }}
--allow-zone-overlap
--ds-password={{ ds_password }}
--admin-password={{ admin_password }}
{% for forwarder in forwarders %}
--forwarder={{ forwarder }}
{% endfor %}
--auto-reverse
--setup-dns
--unattended
--domain={{ domain }}
--setup-kra
