[Unit]
Description=FreeIPA container
After=network-online.target
Wants=network-online.target
[Service]
Restart=on-abnormal
ExecStartPre=/usr/local/sbin/ipa_net.py
ExecStartPre=-/usr/bin/podman kill freeipa-server-container
ExecStartPre=-/usr/bin/podman rm --force freeipa-server-container
ExecStartPre=-/usr/bin/podman pull {{ image }}
ExecStart=/usr/bin/podman run --rm \
                              --interactive \
                              --tty \
                              --systemd=true \
                              --hostname={{ container_hostname }}.{{ domain }} \
                              --dns-search={{ domain }} \
                              --name=freeipa-server-container \
                              --network=ns:/run/netns/ipans \
                              --volume=/var/lib/ipadata:/data:Z \
                              --volume=/sys/fs/cgroup:/sys/fs/cgroup:ro \
                              --volume=/dev/urandom:/dev/random:ro \
                              --tmpfs=/run \
                              --tmpfs=/tmp \
                              --dns=127.0.0.1 \
                              --dns=::1 \
{% for fip4 in fips4 %}
                              --add-host={{ fip4.host }}.{{ domain }}:{{ fip4.address }} \
{% endfor %}
                              {{ image }}
ExecStop=/usr/bin/podman stop freeipa-server-container
[Install]
WantedBy=multi-user.target
